* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif;
  color: blue; }

.tab {
  width: 10%;
  background-color: #E3E3E3;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #002a3a;
  padding: 8px;
  font-size: 16px;
  font-weight: 600; }

form {
  width: 80%;
  padding: 24px;
  background-color: #E3E3E3;
  position: fixed; }

.upper-part {
  display: flex;
  flex-direction: row; }

section {
  width: 50%;
  display: inline-bloc; }

.autosuggest {
  display: block;
  width: 100%;
  margin-bottom: 36px; }

label {
  color: #002a3a;
  display: block;
  font-weight: 600; }

.inputCities {
  padding: 14px 12px 12px;
  font-size: 16px;
  display: inline-block;
  width: 80%;
  color: #002a3a; }

.shortcut-cities {
  color: #002a3a;
  margin-top: 12px; }
  .shortcut-cities span {
    border-bottom-style: dotted;
    border-color: #003d50; }

.X {
  width: 20%;
  height: 46px;
  border: 0;
  margin: 0;
  padding: 0; }

.enter {
  background-color: #d81939;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  border: 0;
  padding: 17px 60px 11px 16px;
  margin-bottom: 12px;
  display: block; }
